<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar e Confirmar Impressão</title>
</head>
<body>

<h1>Visualizar e Confirmar Impressão</h1>

<h2>Etiquetas a serem impressas:</h2>
<ul>
    {% for numero in numeros %}
        <li>
            Número: {{ numero }} 
            <a href="{% url 'remover_numero' numero %}">Remover</a>
        </li>
    {% endfor %}
</ul>

<div>
    <form action="{% url 'confirmar_impressao' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Confirmar Impressão</button>
    </form>

    <br>

    <a href="{% url 'imprimir_etiquetas' %}">
        <button type="button">Cancelar</button>
    </a>
</div>

</body>
</html>